<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form {
            margin: auto;
            size: auto;
            text-align: center;
            background-color: dimgray;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div>
    <h3>Page for creating</h3>

    <div>
        <form th:action="@{/book/create}" th:method="POST" th:object="${book}">
            <label for="name">Enter book name:</label><br>
            <input id="name" th:field="*{getTitle}" type="text" name="name"><br>
            <div style="color:red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{getTitle}">Book name error! </div>
            <label for="author_name">Enter author name:</label><br>
            <input id="author_name" th:field="*{getAuthor}" type="text" name="author_name"><br>
            <div style="color:red" th:if="${#fields.hasErrors('authorName')}" th:errors="*{getAuthor}">Author name error! </div>
            <label for="release_date">Enter release date:</label><br>
            <input id="release_date" th:field="*{birthday}" type="text" name="release_date"><br><br>
            <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Release date error! </div>
            <input type="button" value="save">
        </form>
        <form th:action="@{/book/all}" th:method="get">
            <button type="submit">back</button>
        </form>
    </div>
</div>

</body>
</html>