<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style> th, td {
        text-align: center;
        border: 1px black solid
    }

    table {
        size: auto;
        margin: auto
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
    </style>
</head>
<body>
<div style="margin: auto">
    <table>
        <caption>NN Library Clients</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Birthdate Year</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td th:text="${person.getPersonId()}"></td>
            <td th:text="${person.getName()}"></td>
            <td th:text="${person.getBirthday()}"></td>
            <td>
                <form th:action="@{/person/ordered_book/{person_id}/(person_id=${person.getPersonId()})}"
                      th:method="GET">
                    <button type="submit">books on read</button>
                </form>
            </td>
            <td>
                <form th:action="@{/person/delete/{person_id}/(person_id=${person.personId})}"
                      th:method="DELETE">
                    <button type="submit">remove</button>
                </form>
            </td>
            <td>
                <form th:action="@{/person/before_update/{person_id}/(person_id=${person.personId})}"
                      th:method="GET">
                    <button type="submit">update</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>

    <form style="margin: auto; size: auto; text-align: center" th:action="@{/person/before_create}" th:method="get">
        <button type="submit">add visitor</button>
    </form>
</div>
<br/>
<form style="margin: auto; size: auto; text-align: center" th:action="@{/book/all}" th:method="get">
    <button type="submit">go to book list</button>
</form>


</body>
</html>